@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --scroll-track: rgb(245, 245, 245);
    --scroll-bar: rgb(111, 127, 255);
    --main-content: rgb(255, 255, 255);
    --column-border: rgba(0, 0, 0, 0);
    --table-item-overview: rgba(0, 0, 0, 0);
    --table-item-text: rgb(113, 128, 150);
    --list-header-text: rgb(74, 85, 104);
    --border-color: rgb(226, 232, 240);
    --button-background: rgb(111, 127, 255);
    --button-background-hover: rgb(135, 149, 255);
    --button-background-active: rgb(94, 113, 252);
    --button-background-light: rgb(134, 148, 253);
    --button-background-light-hover: rgb(144, 157, 255);
    --button-background-light-active: rgb(117, 132, 255);

    --manage-navbar-bg: rgb(247, 250, 252);
    --manage-navbar-inactive-text-color: rgb(163, 191, 250);
    --manage-navbar-inactive-bg-hover-color: rgb(235, 244, 255);

    --page-background-color: rgb(237, 241, 243);
    --component-background-color: rgb(255, 255, 255);
    --logo-text-color: rgb(0, 0, 0);
    --table-column-background-color: rgb(226, 232, 240);
    --table-row-even-background-color: rgb(237, 242, 247);
    --table-row-odd-background-color: rgb(247, 250, 252);
    --table-header-text-color: rgb(45, 55, 72);
    --table-hover-background-color: rgb(226, 232, 240);
    --header-text-color: rgb(23, 23, 23);
    --input-background-color: rgb(255, 255, 255);
    --input-border: '';
    --dropdown-background-color: var(--input-background-color);
    --text-secondary-color: rgb(74, 85, 104);
    --text-secondary-color-invert: rgb(255, 255, 255);
}

.theme-dark {
    --scroll-track: rgb(28, 28, 28);
    --scroll-bar: rgb(111, 127, 255);
    --main-content: rgb(66, 66, 66);
    --column-border: rgb(74, 85, 104);
    --table-item-overview: rgb(45, 45, 45);
    --table-item-text: rgb(161, 178, 205);
    --list-header-text: rgb(212, 223, 230);
    --border-color: rgb(84, 84, 84);
    --button-background: rgb(111, 127, 255);
    --button-background-hover: rgb(135, 149, 255);
    --button-background-active: rgb(94, 113, 252);
    --button-background-light: rgb(134, 148, 253);
    --button-background-light-hover: rgb(144, 157, 255);
    --button-background-light-active: rgb(117, 132, 255);

    --manage-navbar-bg: rgb(103, 103, 103);
    --manage-navbar-inactive-text-color: rgb(208, 208, 208);
    --manage-navbar-inactive-bg-hover-color: rgb(130, 130, 130);

    --logo-text-color: rgb(226, 237, 244);
    --page-background-color: rgb(28, 28, 28);
    --component-background-color: rgb(38, 37, 37);
    --table-column-background-color: rgb(24, 24, 24);
    --table-row-even-background-color: rgb(51, 50, 50);
    --table-row-odd-background-color: rgb(38, 37, 37);
    --table-hover-background-color: rgb(60, 60, 60);
    --header-text-color: rgb(226, 237, 244);
    --input-background-color: rgb(36, 36, 36);
    --dropdown-background-color: var(--input-background-color);
    --input-border: border-none;
    --table-header-text-color: rgb(226, 237, 244);
    --text-secondary-color: rgb(226, 237, 244);
    --text-secondary-color-invert: rgb(74, 85, 104);
}

* {
    font-family: sans-serif;
    outline: none !important;
}

body {
    background: var(--page-background-color);
}

.prequel-swal-title {
    color: red;
}

:focus {
    outline: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgb(245, 245, 245);
    transition: .2s ease;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: var(--scroll-track);
    border-radius: 1px;
    transition: .2s ease;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scroll-bar);
    transition: .2s ease;
}

.no-drag {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

code[class*=language-], pre[class*=language-] {
    color: #000;
    background: 0 0;
    text-shadow: 0 1px #fff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

code[class*=language-] ::-moz-selection, code[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection, pre[class*=language-]::-moz-selection {
    text-shadow: none;
    background: #b3d4fc
}

code[class*=language-] ::selection, code[class*=language-]::selection, pre[class*=language-] ::selection, pre[class*=language-]::selection {
    text-shadow: none;
    background: #b3d4fc
}

@media print {
    code[class*=language-], pre[class*=language-] {
        text-shadow: none
    }
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto
}

:not(pre) > code[class*=language-], pre[class*=language-] {
    background: #f5f2f0
}

:not(pre) > code[class*=language-] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
    color: #708090
}

.token.punctuation {
    color: #999
}

.token.namespace {
    opacity: .7
}

.token.boolean, .token.constant, .token.deleted, .token.number, .token.property, .token.symbol, .token.tag {
    color: #905
}

.token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {
    color: #690
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
    color: #9a6e3a;
    background: hsla(0, 0%, 100%, .5)
}

.token.atrule, .token.attr-value, .token.keyword {
    color: #07a
}

.token.class-name, .token.function {
    color: #dd4a68
}

.token.important, .token.regex, .token.variable {
    color: #e90
}

.token.bold, .token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

